<%- include ("templates/encabezado.ejs", {titulo: "Inicio"}) %>

<%
    var a = 8
    var b = 10
    var c = a + b
    var texto = "Bienvenido a la página de inicio"
%>

<h2><%= texto %></h2>

<a href="/info/<%= c %>">Ver información</a>

<ul>
    <% artistas.forEach(function(artista) { %>
        <li><%= artista %></li>
    <% }) %>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>

<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
aliquip ex ea commodo consequat.</p>

<%- include ("templates/pie.ejs") %>
